PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/celesticaree?retryWrites=true&w=majority
CLIENT_ORIGIN=http://localhost:5173
SESSION_SECRET=celesticare_secret_key_session_2026